In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('/app/data/work_time.csv')

In [5]:
data

          Date Work Time
0   15.01.2024      2:30
1   16.01.2024      2:30
2   17.01.2024      0:00
3   18.01.2024      2:00
4   19.01.2024      2:30
5   20.01.2024      0:00
6   21.01.2024      0:00
7   22.01.2024      3:00
8   23.01.2024      2:30
9   24.01.2024      3:30
10  25.01.2024      4:20
11  26.01.2024      1:30
12  27.01.2024      0:00
13  28.01.2024      0:00
14  29.01.2024      2:00
15  30.01.2024      2:10
16  31.01.2024      3:00
17  01.02.2024      3:30
18  02.02.2024      1:30
19  03.02.2024      0:00
20  04.02.2024      1:11
21  05.02.2024      4:40
22  06.02.2024      5:00
23  07.02.2024      0:30
24  08.02.2024      3:20
25  09.02.2024      2:50
26  10.02.2024      0:00
27  11.02.2024      0:00
28  12.02.2024      0:00
29  13.02.2024      4:14
30  14.02.2024      3:50
31  15.02.2024      4:40
32  16.02.2024      5:05
33  17.02.2024      0:00
34  18.02.2024      0:00
35  19.02.2024      3:15
36  20.02.2024      7:00
37  21.02.2024      1:20
38  22.02.2024      4:25
39  23.02.2024      0:00
40  24.02.2024      0:00
41  25.02.2024      0:00
42  26.02.2024      2:00
43  27.02.2024      4:10