In [15]:
import pandas as pd
from tabulate import tabulate

In [14]:
import re

pattern = re.compile("^202[0-9]-[0-1][0-9]-[0-3][0-9]$")
pattern.search("2024-03-14")

In [5]:
import datetime

regex = datetime.datetime.strptime
str(regex("2020-08-03", "%Y-%m-%d"))

'2020-08-03 00:00:00'

In [3]:
type(regex)

builtin_function_or_method

In [6]:
from datetime import date, time

time("")

In [9]:
str(date.today())

'2024-03-14'

In [10]:
date.fromisoformat("2024-01-15")

datetime.date(2024, 1, 15)

In [10]:
str(time(hour=5, minute=2))[:-3]

'05:02'

In [19]:
from dateutil import parser

str(parser.parse("15:14").time())

'15:14:00'

In [6]:
str(date.today())

'2024-03-13'

In [57]:
time(4, 3)

datetime.time(4, 3)

In [59]:
s = "42"
s.split(":")

['42']

In [64]:
len(s)

2

In [62]:
str(24).zfill(2)

'24'

In [65]:
data = pd.read_csv("/app/data/work_time.csv", index_col="Date")

data.loc["28.02.2024"] = ["2:00"]
data.to_csv("../data/work_time_upd.csv")

In [66]:
data

           Work Time
Date
15.01.2024      2:30
16.01.2024      2:30
17.01.2024      0:00
18.01.2024      2:00
19.01.2024      2:30
20.01.2024      0:00
21.01.2024      0:00
22.01.2024      3:00
23.01.2024      2:30
24.01.2024      3:30
25.01.2024      4:20
26.01.2024      1:30
27.01.2024      0:00
28.01.2024      0:00
29.01.2024      2:00
30.01.2024      2:10
31.01.2024      3:00
01.02.2024      3:30
02.02.2024      1:30
03.02.2024      0:00
04.02.2024      1:11
05.02.2024      4:40
06.02.2024      5:00
07.02.2024      0:30
08.02.2024      3:20
09.02.2024      2:50
10.02.2024      0:00
11.02.2024      0:00
12.02.2024      0:00
13.02.2024      4:14
14.02.2024      3:50
15.02.2024      4:40
16.02.2024      5:05
17.02.2024      0:00
18.02.2024      0:00
19.02.2024      3:15
20.02.2024      7:00
21.02.2024      1:20
22.02.2024      4:25
23.02.2024      0:00
24.02.2024      0:00
25.02.2024      0:00
26.02.2024      2:00
27.02.2024      4:10
28.02.2024      2:00

In [19]:
data = pd.read_csv("/app/data/work_time.csv", index_col="Date")
# data = data.set_index('Date')
# print(data)

print(tabulate(data, headers="keys", tablefmt="psql"))

+------------+-------------+
| Date       | Work Time   |
|------------+-------------|
| 15.01.2024 | 2:30        |
| 16.01.2024 | 2:30        |
| 17.01.2024 | 0:00        |
| 18.01.2024 | 2:00        |
| 19.01.2024 | 2:30        |
| 20.01.2024 | 0:00        |
| 21.01.2024 | 0:00        |
| 22.01.2024 | 3:00        |
| 23.01.2024 | 2:30        |
| 24.01.2024 | 3:30        |
| 25.01.2024 | 4:20        |
| 26.01.2024 | 1:30        |
| 27.01.2024 | 0:00        |
| 28.01.2024 | 0:00        |
| 29.01.2024 | 2:00        |
| 30.01.2024 | 2:10        |
| 31.01.2024 | 3:00        |
| 01.02.2024 | 3:30        |
| 02.02.2024 | 1:30        |
| 03.02.2024 | 0:00        |
| 04.02.2024 | 1:11        |
| 05.02.2024 | 4:40        |
| 06.02.2024 | 5:00        |
| 07.02.2024 | 0:30        |
| 08.02.2024 | 3:20        |
| 09.02.2024 | 2:50        |
| 10.02.2024 | 0:00        |
| 11.02.2024 | 0:00        |
| 12.02.2024 | 0:00        |
| 13.02.2024 | 4:14        |
| 14.02.2024 | 3:50        |
| 15.02.2024 | 4:40        |
| 16.02.2024 | 5:05        |
| 17.02.2024 | 0:00        |
| 18.02.2024 | 0:00        |
| 19.02.2024 | 3:15        |
| 20.02.2024 | 7:00        |
| 21.02.2024 | 1:20        |
| 22.02.2024 | 4:25        |
| 23.02.2024 | 0:00        |
| 24.02.2024 | 0:00        |
| 25.02.2024 | 0:00        |
| 26.02.2024 | 2:00        |
| 27.02.2024 | 4:10        |
+------------+-------------+

In [20]:
print(data.to_markdown())

| Date       | Work Time   |
|:-----------|:------------|
| 15.01.2024 | 2:30        |
| 16.01.2024 | 2:30        |
| 17.01.2024 | 0:00        |
| 18.01.2024 | 2:00        |
| 19.01.2024 | 2:30        |
| 20.01.2024 | 0:00        |
| 21.01.2024 | 0:00        |
| 22.01.2024 | 3:00        |
| 23.01.2024 | 2:30        |
| 24.01.2024 | 3:30        |
| 25.01.2024 | 4:20        |
| 26.01.2024 | 1:30        |
| 27.01.2024 | 0:00        |
| 28.01.2024 | 0:00        |
| 29.01.2024 | 2:00        |
| 30.01.2024 | 2:10        |
| 31.01.2024 | 3:00        |
| 01.02.2024 | 3:30        |
| 02.02.2024 | 1:30        |
| 03.02.2024 | 0:00        |
| 04.02.2024 | 1:11        |
| 05.02.2024 | 4:40        |
| 06.02.2024 | 5:00        |
| 07.02.2024 | 0:30        |
| 08.02.2024 | 3:20        |
| 09.02.2024 | 2:50        |
| 10.02.2024 | 0:00        |
| 11.02.2024 | 0:00        |
| 12.02.2024 | 0:00        |
| 13.02.2024 | 4:14        |
| 14.02.2024 | 3:50        |
| 15.02.2024 | 4:40        |
| 16.02.2024 | 5:05        |
| 17.02.2024 | 0:00        |
| 18.02.2024 | 0:00        |
| 19.02.2024 | 3:15        |
| 20.02.2024 | 7:00        |
| 21.02.2024 | 1:20        |
| 22.02.2024 | 4:25        |
| 23.02.2024 | 0:00        |
| 24.02.2024 | 0:00        |
| 25.02.2024 | 0:00        |
| 26.02.2024 | 2:00        |
| 27.02.2024 | 4:10        |